<% weather = @weather.re_info %>
<% if weather %> 
 <table>
 <tr>
 <td><%= @placename %></td>
 <% weather.each do | date | %>
  <td>
  <div style="font-size: 10px;">
    <%= date.datehour %><br />
    <%= image_tag "/gazou/#{date.icon}",:size => '50x50' %>
  </div>
  </td>
 <% end %>
 </tr>
 </table>
<% else %>
  天気予報の情報取得に失敗しました
<% end %>



