
<% weather = @weather.re_info %>
<%=  @weather.return_info %>
<% if weather %> 
 <table>
  <tr>
    <td>
    <%= link_to @placename,"https://openweathermap.org/" %>
    </td>
  
    </tr>
  </table>
<% else %>
  <%= @placename %>の天気予報の情報取得に失敗しました
<% end %>